<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="static/css/connect.css">


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <title>M E D P A L</title>
</head>
<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<nav class="navbar navbar-expand-lg">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">M E D P A L</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Diagnosis
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="diagheart.html">Heart</a></li>
          <li><a class="dropdown-item" href="diagdiab.html">Diabetes</a></li>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Cancer</a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href="diagbreast.html">Breast Cancer</a>
              <a class="dropdown-item" href="diaglung.html">Lung Cancer</a>
              <!--<a class="dropdown-item" href="diagskin.html">Skin Cancer</a>
              <a class="dropdown-item" href="diagbrain.html">Brain Tumor</a>-->
            </ul>
          </li>
          <li><a class="dropdown-item" href="diagkidney.html">Kidney Disease</a></li>
          <!--<li><a class="dropdown-item" href="diagpm.html">Pneumonia</a></li>
          <li><a class="dropdown-item" href="diagal.html">Alzheimer’s</a></li>-->
          <li><a class="dropdown-item" href="diagthy.html">Thyroid</a></li>
          <!--<li><a class="dropdown-item" href="diagliv.html">Liver Disease</a></li>-->
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Diet
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="dietheart.html">Heart</a></li>
          <li><a class="dropdown-item" href="dietdiab.html">Diabetes</a></li>
          <li><a class="dropdown-item" href="dietbreast.html">Cancer</a></li>
          <li><a class="dropdown-item" href="dietkidney.html">Kidney Disease</a></li>
          <li><a class="dropdown-item" href="dietpn.html">Pneumonia</a></li>
          <li><a class="dropdown-item" href="dietal.html">Alzheimer’s</a></li>
          <li><a class="dropdown-item" href="dietthy.html">Thyroid</a></li>
          <li><a class="dropdown-item" href="diethep.html">Hepatitis C</a></li>
          <li><a class="dropdown-item" href="dietliver.html">Liver Disease</a></li>
          <li><a class="dropdown-item" href="dietcholesterol.html">Cholesterol</a></li>
          <li><a class="dropdown-item" href="dietbp.html">Blood Pressure</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exercise
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="exercisehead.html">Migraine</a></li>
          <li><a class="dropdown-item" href="exerciseuter.html">Uterus</a></li>
          <li><a class="dropdown-item" href="exerciseheart.html">Heart</a></li>
          <li><a class="dropdown-item" href="exercisediab.html">Diabetes</a></li>
          <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Cancer</a>
            <ul class="dropdown-menu">
              <a class="dropdown-item" href="exercisebreast.html">Breast Cancer</a>
              <a class="dropdown-item" href="exerciselung.html">Lung Cancer</a>
              <a class="dropdown-item" href="exercisebrain.html">Brain Tumor</a>
            </ul>
          </li>
          <li><a class="dropdown-item" href="exercisekidney.html">Kidney Disease</a></li>
          <li><a class="dropdown-item" href="exercisepm.html">Pneumonia</a></li>
          <li><a class="dropdown-item" href="exerciseal.html">Alzheimer’s</a></li>
          <li><a class="dropdown-item" href="exercisepar.html">Parkinson’s</a></li>
          <li><a class="dropdown-item" href="exercisethy.html">Thyroid</a></li>
          <li><a class="dropdown-item" href="exercisehep.html">Hepatitis C</a></li>
          <li><a class="dropdown-item" href="exerciseliv.html">Liver Disease</a></li>
          <li><a class="dropdown-item" href="exercisechol.html">Cholesterol</a></li>
          <li><a class="dropdown-item" href="exercisebp.html">Blood Pressure</a></li>
        </ul>
      <li class="nav-item">
        <a class="nav-link" href="connect.html">Connect</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="community.html">Community</a>
      </li>-->
      </li>
    </ul>
  </div>
</nav>
<!--_*********************************************************************************************************************************-->




<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<body>


  <section class="testimonial text-center">
      <div class="container_test">

          <div class="heading white-heading">

          </div>
          <div id="testimonial4" class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x" data-ride="carousel" data-pause="hover" data-interval="5000" data-duration="2000">

              <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <br />
                    <h3 class="vertical-part"><b>General Physician</b></h3>
                    <br /><br /><br /><br>

                      <div class="testimonial4_slide">
                          <img src="\static\images\hariprasanna.jpg" class="img-circle img-responsive" />
                        <br>
                          <h4><b>DR. Hariprasanna</b></h4>
                          <p>Contact Number :9845908451</p>
                          <p>Dr. Hari Prasanna S is a Internal Medicine and has an experience of 24 years in this field. He completed MBBS from Bangalore Medical College and Research Institute, Bangalore in 1997 and MD - General Medicine from Bangalore Medical College and Research Institute, Bangalore in 2005. </p>
                      </div>
                  </div>

                  <div class="carousel-item">
                    <br />
                    <h3 class="vertical-part"><b>Pediatrician</b></h3>
                    <br /><br /><br /><br>
                      <div class="testimonial4_slide">
                          <img src="\static\images\chait.jpeg" class="img-circle img-responsive" />
                          <br>
                          <h4><b>Dr. Chaithanya Datta</b> </h4>
                          <p>Contact Number : 9845028321</p>
                           <p>Dr. Chaithanya Datta is a Pediatrician in Basavanagudi, Bangalore and has an experience of 29 years in this field. Dr. Chaithanya Datta practices at Chaithanya Clinic in Basavanagudi, Bangalore. He completed MBBS from University Of Mysore, India in 1984 and Diploma in Child Health (DCH) from Jawaharlal Nehru Medical College, Belgaum in 1988.
He is a member of Bangalore Pediatric Society. Some of the services provided by the doctor are: Growth & Development Evaluation / Management,Childhood Infections,Vaccination/ Immunization and New Born Care etc.</p>
                      </div>
                  </div>

                  <div class="carousel-item">
                    <br />
                    <h3 class="vertical-part"><b>ENT Specialist</b></h3>
                    <br /><br /><br /><br>
                      <div class="testimonial4_slide">
                          <img src="\static\images\shreyas_final.jpeg" class="img-circle img-responsive" />
                          <br>
                          <h4><b>Dr. Shreyas Pradeep</b></h4>
                          <p>
                          Contact Number : 9844488721
                          </p>
                          <p>Dr. Shreyas Pradeep is a ENT/ Otorhinolaryngologist in Basavanagudi, Bangalore and has an experience of 10 years in this field.

He is a member of Association of Otolaryngologists of India (AOI) and Facial Reconstructive and Cosmetic Surgery India. Some of the services provided by the doctor are: Balloon Sinuplasty,Ear Micro Surgery,Ear Reconstruction,Reconstructive Middle Ear Surgery and Head and Neck Tumor / Cancer Surgery etc. </p>

                      </div>
                  </div>

                  <div class="carousel-item">
                    <br />
                    <h3 class="vertical-part"><b>Gynecologist</b></h3>
                    <br /><br /><br /><br>
                      <div class="testimonial4_slide">
                          <img src="\static\images\sudha.jpg" class="img-circle img-responsive" />
                          <br>
                          <h4><b>Dr Sudhamathy Kannan</b> </h4>
                          <p>Contact Number : 9972899728</p>
                           <p>Dr Sudhamathy Kannan is a Consultant in the Department of Obstetrics and Gynaecology at Cloudnine Hospital, Jayanagar, Bangalore. She has over 37 years of experience in her speciality. Her areas of expertise include performing high risk deliveries, hysterectomies, ectopic pregnancy surgery, medical termination of pregnancy. She is a member of prestigious associations and societies like the AICOG, Indian Medical Association, and Bangalore Society of Obstetrics and Gynaecology.</p>
                      </div>
                  </div>
              </div>
              <a class="carousel-control-prev" href="#testimonial4" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#testimonial4" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
              </a>
          </div>
      </div>
  </section>




</body>



<!--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
